<view class="map_container" disabled="{{userCanTouch}}">
  <view class="maptop" wx:if="{{isClickMarker==true}}">
    <view class="classname" wx:if="{{isHaveStake==1}}">
      <view class="maptop-box hasStakeGps">
        <view class="part marker-distance marker-name">
          <view class="part-top cur-distance">{{markerdata.name}}</view>
          <view class="part-bottom cur-danwei">
            <!-- <view class="cur-danwei">{{uNit}}</view> -->
          </view>
        </view>
        <view class="part marker-rent">
          <view class="part-top cur-distance">{{markerdata.rentcount}}</view>
          <view class="part-bottom cur-distance">可借</view>
        </view>
        <view class="part marker-restore">
          <view class="part-top cur-distance">{{markerdata.restorecount}} </view>
          <view class="part-bottom cur-distance">可还</view>
        </view>
        <view class="part guideGps" bindtap="hasStakeGpsBtn" bikenumber="{{markerdata.bikebnumber}}">导航</view>
      </view>
    </view>
    <view class="classname" wx:elif="{{isHaveStake==3}}">
      <view class="maptop-box hasStakeGps">

        <view class="part marker-rent marker-name">
          <view class="part-top cur-distance">
            {{markerdata.name}}
          </view>
          <!-- <view class="part-bottom cur-distance">{{uNit}}</view> -->
        </view>
        <view class="part marker-restore">
          <view class="part-top cur-distance">2小时</view>
          <view class="part-bottom cur-distance">免费</view>
        </view>
        <view class="part guideGps" bindtap="hasStakeGpsBtn" bikenumber="{{markerdata.bikebnumber}}">导航</view>
      </view>
    </view>
  </view>
  <view class="maptop" wx:elif="{{isClickMarker==false}}">
    <view wx:if="{{isRentbike==false}}">
      <view wx:if="{{isNeedPay==false}}">
        <view class="search" bindtap="searchAction">
          <icon type="search" size="16" color="#ccc" class="search-input-icon" />
          <label class="search_input" for="">
            <text>查找站点、地址</text>
          </label>
        </view>
      </view>
      <view wx:elif="{{isNeedPay==true}}" class="alreadRentbike">
        <view class="ring-icon">
          <image class="bell" src="../../img/icon_bell@3x.png"></image>
        </view>
        <view class="bike-hasrent">
          <text class="bellstring">您有未支付订单,请前往支付！</text>
        </view>
        <view class="search-look" bindtap="goTOpay">
          <image src="../../img/icon_pay@3x.png"></image>
        </view>
      </view>
    </view>
    <view wx:elif="{{isRentbike==true}}" style="height:100rpx;">
      <view class="alreadRentbike">
        <view class="ring-icon">
          <image class="bell" src="../../img/icon_bell@3x.png"></image>
        </view>
        <view class="bike-hasrent-rent">
         <view class="bellstringone">我运动，我健康，我快乐!\n</view>
          <text class="bellstringtwo">您已租车，请注意骑行安全!</text>
        </view>
        <view class="bike-error" bindtap="rentBikeError">
          <view class="error-icon">
            <image src="../../img/icon_warn@3x.png"></image>
          </view>
          <view class="bike-error-word" bindlongtap="rentBikeError">车辆故障?</view>
        </view>
        <view class="search-look">
          <view wx:if="{{isTmpStop==false}}">
            <image src="../../img/linshi@3x.png" bindtap="temporaryBike"></image>
          </view>
          <view elif="{{isTmpStop==true}}">
            <image src="../../img/jixu@3x.png" bindtap="continueBike"></image>
          </view>
        </view>
        <view class="search-look">
          <image src="../../img/stop@3x.png" bindtap="restoreBike"></image>
        </view>
      </view>
    </view>
  </view>
  <!--isTmpStop-->

  <map class="map" id="map" longitude="{{longitude}}" latitude="{{latitude}}" scale="17" show-location="true" markers="{{markers}}" bindmarkertap="markertap" controls="{{controls}}" polyline="{{polyline}}" bindregionchange="regionchange" bindcontroltap="controltap" bindcallouttap="callouttap" hidden="{{judge}}" style="width:{{mapWidth}}px; height:{{mapHeight}}px;" callout="{{callout}}" bindtap="clickmapbtn"></map>
</view>