.container{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  border-top:1px solid #fff;
}
.upper{
  width:100%;
  height: 35%;
  background-color:#2476ff;
  color:#fff;
  font-size:38rpx;
  position: fixed;
  top:0;
  left:0;
}
.upper .deposit{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto; 
  width:200rpx;
  height:80rpx;
  font-size:70rpx;
  text-align:center;

}
.upper .question{
  text-align:center;
  width:40rpx;
  height:40rpx;
  border-radius:40rpx;
  background-color:#fff;
  color:#2476ff;
  position:absolute;
  bottom:25rpx;
  left:47%;
  line-height:40rpx;
  font-size:35rpx;
}
.center-box{
  position:absolute;
  top:35%;
  height:57.5%;
  width:100%;
  background-color:rgba(0,0,0,.1);
  color:#fff;
  overflow-y: scroll;
}
.footbtn{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:4%;
  padding:3% 0;
  background-color:#2476ff;
  color:#fff;
  text-align: center;
  font-size:36rpx;
}
.navigator-hover {
    color:blue;
}
.pay-line{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  width:90%;
  margin:5%;
  color:#000;
  font-size:27rpx;
}
.pay-line .date{
  flex:2;
  justify-content: flex-start;
  
}
.img_pos{
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  margin: auto;
  width:186rpx;
  height: 155rpx;
}
.ihavepay{
color:#2476ff;
font-size:26rpx;
position:absolute;
bottom:10%;
right:5%;
letter-spacing:1rpx;


}