/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: '微软雅黑',sans-serif;
  padding:0;
  box-sizing: border-box;
} 
.clearfix{
  zoom: 1;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
} 