.container{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
}
.loginbox{background-color:rgba(0,0,0,.05);}
.container .bigback{
   width:100%;
   height:100%;
}
.container .topcup{
  width:100%;
  height:200px;
  position: relative;
}
.container .topcup .toplogo{
  width:150rpx;
  height:150rpx;
  border-radius:10px;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}
.rtop{
  position:absolute;
  right:20rpx;
  top:20rpx;
}
.rtop image{
  width:70rpx;
  height:70rpx;
}
.bigcenter{
    position:absolute;
    margin:auto;
    top:10%;
    right:0;
    bottom:0;
    left:0;
    width:100%;
}
.bigcenter .section .section__title image{
  /*width:30rpx;
  height:47rpx;*/
  margin-top:7rpx;

}
.section{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  
  padding:20rpx 30rpx;
  height:60rpx;
  line-height:60rpx;
  font-size:26rpx;
  position:relative;
  background-color:#fff;
}
.first-line{border-bottom:1px solid #ddd;}
.getCode{
  color:#888;
  flex:4;
  justify-content:center;
  text-align:center;
  border-left:1px solid #ddd;
  background-color:#fff;

}
.getCode button{
  font-size:22rpx;
  border:none;
  letter-spacing:1rpx;

}
.section .section__title{
  flex:1;
  justify-content:center;
}
.telephone{flex:9!important;}
.section .section__title image{
  width:30rpx;
  height:47rpx;
  justify-content:center;
  margin:5rpx 15rpx;
}
.secreta{width:34rpx;height:44rpx;}
.section input{
  flex:6;
  justify-content:center;
  color:#888;
  margin:7rpx 0 5rpx 0;
}
.goto{
  border:none;
  text-align:center;
  letter-spacing: 2rpx;
  margin:100rpx 0 60rpx 0;
  padding:10rpx;
  border-radius:10rpx;
  height:60rpx;
  line-height:60rpx;
  position:relative;
}
.goto button{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#2c7fff,endColorStr=#5f51ff);
  background: -ms-linear-gradient(left, #2c7fff,  #5f51ff);    
  background:-moz-linear-gradient(left,#2c7fff,#5f51ff); 
  background: -webkit-linear-gradient(left, #2c7fff, #5f51ff);   
  background: -o-linear-gradient(left, #2c7fff, #5f51ff); 
  color:#fff;

}
.twoway{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
  color:#fff;
  font-size:30rpx;
}
.twoway .newuser{
  /*flex:2;*/
  /*justify-content: flex-start;*/
  margin-left:30rpx;
}

.twoway .reset{
  /*flex:2;*/
  /*justify-content: flex-end;*/
  margin-right:30rpx;
}
.agree{font-size:24rpx;
color:#888;
text-align:center;
}
.agree span{color:#2476ff;}
/*.input_line{border-bottom:1px solid #ddd;}*/
.line-input{
  padding:0 3%;
  width:94%;
  background-color:#fff;
}

.commoncss{
    /*border:1px solid #2476ff;
    border-radius:10rpx;*/
    color:#888;
    font-size:30rpx;
}