<!--tripRecord.wxml-->
<scroll-view scroll-y style="width:100%;height:100%;top:0;left:0;position:absolute;display:block;overflow-y:scroll;">
  <view class="container">
    <view class="classname" wx:if="{{isShowImg==false}}">
      <view class="content">
        <block wx:for="{{tripArray}}" wx:key="item">
          <view class="alltrip">
            <view class="item-text">
              <view class="text-at">
                <view class="lt-date one">车辆编号</view>
                <view class="lt-word one">{{item.bikeid}}</view>
                <view class="lt-word one">{{item.hirestationnm}}</view>
              </view>
              <view class="text-at">
                <view class="lt-date two">状态</view>
                <view class="lt-date two">
                  <text> {{item.hirestatus}}</text>
                </view>
                <view class="lt-word two"></view>
              </view>
              <view class="text-at">
                <view bindtap="topayBtn" data-orderid="{{item.orderid}}" data-paymoney="{{item.money}}" wx:if="{{toPay==true}}">
                  <view class="lt-word three">
                    <button class="topay ">去支付</button>
                  </view>
                  <view class="lt-word three topaymoney">
                    ¥{{item.money}}
                  </view>
                  <view class="lt-word three endsite">
                    {{item.restorestationnm}}
                  </view>
                </view>
                <view wx:else>
                  <view class="lt-date three">¥{{item.money}}</view>
                  <view class="lt-word three">支付(元)</view>
                  <view class="lt-word three">
                    {{item.restorestationnm}}
                  </view>
                </view>
              </view>
            </view>
            <view class="item-img ">
              <image src="{{src}}"></image>
            </view>
            <view class="item-end ">
              <view class="start ">{{item.renttime}}</view>
              <view class="start center">
                {{item.userTime}}</view>
              <view class="start right">{{item.restoretime}}</view>
            </view>
          </view>
        </block>
      </view>
    </view>
    <view class="content" else>
      <image class="center_img" src="{{src}}"></image>
    </view>



  </view>
</scroll-view>