<!--pages/search/search.wxml-->
<view class="container">
  <view class="search-pnl">
    <view class="search-title">
      <view class="input-box">
        <input class="input" type="text" placeholder="搜索站点名称/编号" value="{{keywords}}" confirm-type="search" bindfocus="focustap" bindblur="blurtap" bindconfirm="getInput" />
        <image src="../../img/icon_mapsearch@2x.png" class="searchit"></image>
        <image src="../../img/icon_delete@2x.png" class="del" style="display:{{isor}}" bindtap="clearvalue"></image>
      </view>
      <view class="cancel" bindtap="cancelBtn">取消</view>
    </view>
  </view>
 
  <block wx:for="{{results}}" wx:key="item">
     <view class="search_list" id="{{searchStake==1?item.number:item.deviceId}}" bindtap="searchSite">
      <view class="site-img">
         <image src="../../img/icon_history0@2x.png"></image>
      </view>
      <view class="sitename" wx:if="{{searchStake==1}}">{{item.address}}</view> 
     <view class="sitename" wx:if="{{searchStake==3}}">{{item.deviceName}}</view>
    </view>
 </block>
 <view class="clearhistory {{clearor == 1?'none':'show'}}" bindtap="clearHistory" >清除历史记录</view>

</view>