.container{
  width:100%;
  height:100%;
  overflow-y:scroll;
  font-size:20rpx;
  display:block;
  position:absolute;
  top:0;
  left:0;

}
.tips{
  margin:10rpx 10rpx;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  line-height: 40rpx;
  width:100%;
  font-size:26rpx;
}
.title{font-size:34rpx;
 text-align:center;
  margin:20rpx auto;
  color:#000;
}
.service_box{
  margin:0 6%;
   width:88%;
}

